h1,
h2,
h3,
h4 {
  padding: 8px 0;
}
img {
  width: 100%;
  display: block;
}

.book-container {
  padding-top: 85px;
}

.header-content {
  margin-top: -350px;
  margin-left: 550px;
}
.book-heading {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f9f8f8;
  margin-left: -30px;
}

.book-image {
  width: 100%;
}

.book {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("hotel2.jpg") center/cover no-repeat;
  color: #fff;
  padding: 40px 400px;
}
.book-form {
  display: grid;
}

.book-form h2 {
  padding-top: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid white;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.check-btn {
  margin: 18px 120px 0 110px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--text-dark);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 14px;
}
.book-form .check-btn:hover {
  background-color: #515050;
}
.book-form label,
.book-form input {
  width: 100%;
}

.book-form label {
  font-weight: 600;
  word-spacing: 5px;
  padding-bottom: 8px;
}

.book-form input:not(.check-btn) {
  margin: 4px 0 16px 0;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
}
.book-form input:focus {
  outline: 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.book-form select {
  margin: 4px 0 16px 0;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
}

.rooms {
  margin-top: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 30px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.65),
    rgba(126, 124, 124, 0.65)
  );
}

.room {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 40px;
  background-color: var(--text-dark);
  color: #fff;
  border: #333333;
  border-radius: 10px;
}

.rooms .title h2 {
  font-size: 40px;
  color: rgb(67, 66, 66);
  margin-left: 430px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(137, 133, 133);
}

.room-text {
  margin-top: 0px;
  padding: 35px 10px;
}

.room-text p {
  margin-right: 40px;
  font-size: 14px;
}

.room-text h3 {
  font-size: 24px;
  border-bottom: 1px solid rgb(182, 177, 177);
}

.room-text h4 {
  margin-top: 10px;
}

.room-text ul {
  list-style-type: circle;
  margin: 15px 0;
}

.room-text ul li {
  padding: 7px 0;
  font-size: 14px;
}

.room-text li i {
  color: rgb(112, 18, 18);
  margin-right: 10px;
}

.rate {
  opacity: 0.8;
}

.rate span {
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.room-image {
  overflow: hidden;
  padding: 65px 40px;
  float: left;
}

.room-image img {
  width: 75%;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
}
