footer {
    margin-top: 450px;
    background-color: rgb(119, 30, 30);
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .content .logo-img {
    width: 220px;
  }
  footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  
  .content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
  }
  .content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: none;
  }
  .content .link-boxes .input-box {
    margin-right: 55px;
  }
  .link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #afafb6;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: rgb(141, 35, 35);
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder {
    color: rgb(199, 71, 71);
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"] {
    background: #f3eeee;
    color: rgb(163, 46, 46);
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover {
    opacity: 1;
  }
  footer .bottom-details {
    width: 100%;
    background: rgb(141, 35, 35);
  }
  footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 500px;
    color: #fff;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover {
    opacity: 6;
  }
  .bottom-details .bottom_text a {
    margin-right: 10px;
  }
  